.Rectangle-5 {
    border-radius: 10px;
    background-color: #019ee0;
    align-self: center;
    margin: 0 1.5%;
    padding: 0 2%;
    white-space: nowrap;
}

.aboveVideo {
    position: absolute;
    z-index: 10000;
    top: 25%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 1400px) {
    .aboveVideo {
        top: 40%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .aboveVideo {
        top: 37%;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .aboveVideo {
        top: 32%;
    }
}

@media (max-width: 999px) {
    .aboveVideo {
        top: 30%;
    }
}

@media (max-width: 765px) {
    .secondSlide .imageHolder2 img {
        padding: 0 !important;
    }

    .BUY-NOW-BOX-COL {
        text-align: center !important;
    }

    .secondSlide {
        margin: 0 0 5% 0;
    }
}

@media (max-width: 990px) {
    .imageHolder3 {
        padding-left: 5% !important;
    }
}

@media (max-width: 575px) {
    .forthSlide .doboz {
        width: 50vw;
        height: 50vw;
        margin: 5%;
    }
}

.PLAY-THE-VIDEO {
    width: 100%;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 10px 0px;
    text-transform: uppercase;
}

.Rectangle-7 {
    position: absolute;
    top: 20px;
    right: 10em;
}

.BUY-NOW-BOX {
    z-index: 10000;
    height: 36px;
    border-radius: 5px;
    background-color: #c62626;
    padding: 0 0.75%;
}

.BUY-NOW {
    width: 100%;
    height: 20px;
    font-family: Gotham-Ultra;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 3px;
    text-transform: uppercase;
}

.Rectangle-Logo {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 10000;
}

.LOGO {
    width: 100%;
    font-family: Gotham-Italic;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    color: #000;
    padding-top: 3px;
}

._LANDING {
    width: 100%;
    max-height: 4299px;
    background-color: #ffffff;
}

.ALL-IN-ONE-FOR-EVERYBODY {
    width: 100%;
    font-family: Gotham;
    font-size: 75px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    align-self: center;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .ALL-IN-ONE-FOR-EVERYBODY {
        font-size: 25px;
    }

    .PLAY-THE-VIDEO {
        font-size: 17px;
    }

    .Rectangle-5 {
        width: auto;
        height: auto;
        padding: 1% 3.5%;
    }

    .Rectangle-7 {
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 740px) {
    .ALL-IN-ONE-FOR-EVERYBODY {
        font-size: 35px;
    }

    .PLAY-THE-VIDEO {
        font-size: 22px;
    }

    .Rectangle-5 {
        width: auto;
        height: auto;
        padding: 0.5% 3%;
    }
}

.image {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 10000;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 10001;
}

#menuToggle .menuInput {
    display: block;
    width: 60px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: 10001;
}

#menuToggle .menuPreText {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: 3em;
    opacity: 1;
    z-index: 10001;
    text-transform: uppercase;
    color: #019ee0;
    font-size: 1.5em;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #019ee0;
    border-radius: 3px;
    z-index: 10000;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    top: 10px;
    width: 350px;
    height: 2000px;
    margin: -100px 0 0 -250px;
    padding: 50px;
    padding-top: 125px;
    opacity: 1;
    background-color: #019ee0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

@media (max-width: 550px) and (min-width: 400px) {
    #menu {
        width: 300px;
        margin: -100px 0 0 -200px;
    }
}

@media (max-width: 399px) and (min-width: 300px) {
    #menu {
        width: 250px;
        margin: -100px 0 0 -150px;
    }

    .menuMainItem {
        font-size: 18px !important;
    }

    .menuSubItem {
        font-size: 14px !important;
    }

    .menuLangItem {
        font-size: 16px !important;
    }

    .menuSocialItem {
        font-size: 12px !important;
    }
}

.subMenu {
    list-style-type: none;
}

#menu .menuSubItem li {
    padding: 10px 0;
    font-size: 16px;
}

#menu .menuMainItem li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.menuMainItem {
    height: 25px;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.menuSubItem {
    height: 18px;
    font-family: Campton;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}

.titleText3 {
    font-family: Campton;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.descriptionText3 {
    font-family: Campton-Light;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.doboz {
    background-color: #1d9eda;
    width: 14vw;
    height: 14vw;
    display: flex;
}

.doboz .container {
    align-self: flex-end;
    padding: 5%;
}

.titleText4 {
    width: 50%;
    height: 33px;
    font-family: Campton;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.descriptionText4 {
    width: 50%;
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.dobozTitleText {
    font-family: Campton;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.dobozDescText {
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.titleText5 {
    width: 457px;
    height: 48px;
    font-family: Campton;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.titleText {
    font-family: Campton;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;text-transform: uppercase;
}

.descriptionText {
    font-family: Campton-Light;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 2em 8em 2em 0em;
}

.footerText {
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #191919;
}

.menuMainItem {
    margin: 10px 0px;
    text-transform: uppercase;
}

.menuSubItem {
    margin: 4px 0px;
}

.menuLangItem {
    margin: 30% 0%;
    color: #fff;
}

.menuSocialItem {
    object-fit: contain;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 0px;
}

.menuSocialStartMargin {
    margin-top: 10%;
}

.forthSlide {
    margin: 7.5% -15px;
}

.forthSlide .col-md-12 {
    margin: 2.5% 0%;
}

.footerColumnTitleText {
    font-family: Gotham;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.footerColumnText {
    font-family: Campton-Light;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.logoFooter {
    width: 100%;
    font-family: Gotham-Italic;
    font-size: 34px;
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding-top: 3px;
}

.karika {
    background-color: #fff;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
}

@media (max-width: 1600px) {
    .dobozDescText {
        font-size: 10px;
    }
    .karika {
        width: 4vw;
        height: 4vw;
    }
    .dobozTitleText {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .dobozDescText {
        font-size: 8px;
    }
    .karika {
        width: 4vw;
        height: 4vw;
    }
    .dobozTitleText {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .dobozDescText {
        font-size: 7px;
    }
    .karika {
        width: 3vw;
        height: 3vw;
    }
    .dobozTitleText {
        font-size: 11px;
    }
}

@media (max-width: 800px) {
    .dobozDescText {
        font-size: 6px;
    }
    .karika {
        width: 3vw;
        height: 3vw;
    }
    .dobozTitleText {
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .doboz {
        width: 25vw;
        height: 25vw;
    }
    .dobozDescText {
        font-size: 8px;
    }
    .karika {
        width: 4vw;
        height: 4vw;
    }
    .dobozTitleText {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .doboz {
        width: 25vw;
        height: 25vw;
    }
    .dobozDescText {
        font-size: 14px;
    }
    .karika {
        width: 14vw;
        height: 14vw;
    }
    .dobozTitleText {
        font-size: 22px;
    }

    .titleText4 {
        margin-bottom: 5%;
    }
}

@media (max-width: 460px) {
    .doboz {
        width: 25vw;
        height: 25vw;
    }
    .dobozDescText {
        font-size: 12px;
    }
    .karika {
        width: 12vw;
        height: 12vw;
    }
    .dobozTitleText {
        font-size: 18px;
    }

    .titleText4 {
        margin-bottom: 8%;
    }
}

@media (max-width: 390px) {
    .doboz {
        width: 25vw;
        height: 25vw;
    }
    .dobozDescText {
        font-size: 10px;
    }
    .karika {
        width: 14vw;
        height: 14vw;
    }
    .dobozTitleText {
        font-size: 15px;
    }

    .titleText4 {
        margin-bottom: 10%;
    }
}

.text {
    background-color: #2bff29;
    color:#fff;
    display:inline-block;
    padding-left:4px;
}
.arrow {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.20em;
    display: -moz-inline-box;
    display: inline-block;
    /* Use font-size to control the size of the arrow. */
    font-size: 100px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
    background-color:#fff; /* change background color acc to bg color */
    border-left-width: 0.2em;
    border-left-style: solid;
    border-left-color: #2926ff;
    left:0.25em;
}

.arrow_box {
    position: relative;
    background: #019ee0;
    height: 90px;
}
.arrow_box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(1, 158, 224, 0);
    border-left-color: #019ee0;
    border-width: 45px;
    margin-top: -45px;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
    cursor: pointer;
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.camera_caption{
    width: 300px;
    height: 54px;
    background: #019ee0;
    position: relative;
    color: #fff;
    font-family: Gotham-Ultra;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    white-space: nowrap;
}
.camera_caption:after {
    position: absolute;
    right: -27px;
    content: "";
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 27px solid #019ee0;
}

.footer3List {
    list-style: none;
    color: #fff;

    padding: 0;
}

.footer3List li:before {
    content: '✓';
}

.listItemStrong {
    margin-left: 1em;
    font-family: Gotham;
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    text-transform: lowercase;
}

.listItemLight {
    margin-left: 0.25em;
    font-family: Campton-Light;
    font-size: 1.25em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
}

.footer2List {
    list-style: none;
    color: #019ee0;
    padding: 0;
}

.footer2List li:before {
    content: '✓';
}

.listItemStrong2 {
    margin-left: 1em;
    font-family: Gotham;
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #191919;
    text-transform: lowercase;
}

.socialKarika2 {
    background-color: #fff;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #fff;
    display: flex;
    float: left;
    margin: 0 2.5%;
}

.socialText {
    margin: 2.5px auto;
    color: #019ee0;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
}

.socialTextFB {
    font-family: Klavika-Bold;
    margin: -7px auto 0 auto !important;
}

.menuSocialBottom {
    position: fixed;
    bottom: 10%;
    width: 10%;
}

